.App {

  display: flex;
  justify-content: center;
  margin: 0  auto;



}


.left{

border: 1px solid #242424;
padding: 20px;

}

.right{

  border: 1px solid #242424;
  padding: 20px;
  
}

ul li{

 transform: translateX(-30%);
 list-style: none;
 cursor: pointer;

}
ul li:hover{

color: red;

}

